{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" value="Login" type="submit">
    </form>

    <hr/>

    <h2>Login with social media</h2>

    <div class="grid-x">
        <div class="large-4 cell">
            <a href="{% url 'social:begin' 'facebook' %}" class="button social facebook">
                <i class="fi-social-facebook large"></i> Login with Facebook
            </a>
        </div>
        <div class="large-4 cell">
            <a href="{% url 'social:begin' 'twitter' %}" class="button social twitter">
                <i class="fi-social-twitter large"></i> Login with Twitter
            </a>
        </div>
        <div class="large-4 cell">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="button social google-plus">
                <i class="fi-social-google-plus large"></i> Login with Google+
            </a>
        </div>
    </div>
{% endblock %}
