{% extends 'base.html' %}

{% block title %}Cities list{% endblock %}

{% block content %}
    <h1>Cities</h1>

    {% if cities %}
        {% regroup cities by name|first|upper as cities_groups %}

        <ul>
            {% for cities_group in cities_groups %}
                <li>
                    <small>{{ cities_group.grouper }}</small>
                    <ul class="cities">
                        {% for city in cities_group.list %}
                            <li>
                                <h2 class="title">
                                    <a href="{% url 'places:city-detail' pk=city.id slug=city.slug %}">{{ city.name }}</a>
                                </h2>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cities.</p>
    {% endif %}
{% endblock %}
