{% extends 'base.html' %}

{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock %}

{% block title %}City detail{% endblock %}

{% block content %}
    <div class="city">
        <h1>{{ city.name }}</h1>
        {% leaflet_map "main" callback="map_init" %}
    </div>

    <script type="text/javascript">
        function map_init(map, options) {
            // get point lat and lon
            var lon = "{{ city.geometry.x }}";
            var lat = "{{ city.geometry.y }}";

            // zoom to point & add it to map
            map.setView([lat, lon], 12);
            L.marker([lat, lon]).addTo(map);
        }
    </script>
{% endblock %}
