//////////////////////////////////////////////////////////
// Foundation
//////////////////////////////////////////////////////////

@import 'foundation-sites/scss/settings/_settings.scss';
@import 'foundation-sites/scss/foundation.scss';

//////////////////////////////////////////////////////////
// Bookquotes
//////////////////////////////////////////////////////////

// Colors
$bookquotes-gray-dark: #444444;
$bookquotes-gray-light: #EEEEDD;
$bookquotes-cyan-dark: #559999;
$bookquotes-cyan-light: #CCDDCC;
$bookquotes-red: #69D2E7;

// Links
$anchor-color: $bookquotes-gray-light;
$anchor-color-hover: $bookquotes-red;

// Topbar
$topbar-background: $bookquotes-gray-dark;
$topbar-margin-bottom: 1em;
.top-bar {
    margin-bottom: $topbar-margin-bottom;
}

// Active sidebar
.accordion-content {
    .active > a {
        background: $menu-item-background-active;
        color: $menu-item-color-active;
    }
}

//////////////////////////////////////////////////////////
// Foundation components
//////////////////////////////////////////////////////////

@include foundation-everything;
