{% extends 'base.html' %}

{% block title %}Articles list{% endblock %}

{% block content %}
    <h1>Articles</h1>

    {% if articles %}
        <div class="grid-x grid-margin-y">
            {% for article in articles %}
                <div class="large-12 cell">
                    <div class="article">
                        <time>
                            {{ article.date | date:"M d, Y" }}
                        </time>

                        <blockquote>
                            <a href="{% url 'articles:article-detail' pk=article.id slug=article.slug %}">{{ article.title | truncatewords:10 }}</a>
                        </blockquote>
                    
                        <cite>
                            <a href="{% url 'articles:articles-list' member=article.member.slug %}">{{ article.member }}</a>
                        </cite>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No articles.</p>
    {% endif %}
{% endblock %}
