{% extends 'quotes/base.html' %}

{% block title %}Authors list{% endblock %}

{% block content %}
    <h1>Authors</h1>

    {% if authors %}
        {% regroup authors by lastname|first|upper as authors_groups %}

        <ul>
            {% for authors_group in authors_groups %}
                <li>
                    <small>{{ authors_group.grouper }}</small>
                    <ul class="authors">
                        {% for author in authors_group.list %}
                            <li>
                                <h2 class="title">
                                    <a href="{% url 'quotes:quotes-list' author=author.slug %}">{{ author.name }}</a>
                                </h2>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No authors.</p>
    {% endif %}
{% endblock %}
