{% extends 'quotes/base.html' %}

{% block title %}Authors list{% endblock %}

{% block content %}
    <h1>Authors</h1>

    {% if authors %}
        <div class="row large-up-4">
            {% for author in authors %}
                <div class="column column-block quote-item">
                    <h3>
                        <a href="{% url 'quotes:quotes-list' author=author.slug %}">{{ author.name }}</a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No authors.</p>
    {% endif %}
{% endblock %}
