{% load static %}
{% load pipeline %}
{% load menu %}
{% load sidebar %}

 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8">
         <title>{% block title %}My quotes{% endblock %}</title>
         {% stylesheet 'style' %}
         {% javascript 'script' %}
         <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58b3464e22968b001106daf5&product=inline-share-buttons"></script>
     </head>

     <body>
         {% menu %}

         <div class="row">
             <div class="large-3 columns" data-sticky-container>
                 {% sidebar %}
             </div>

             <div class="large-9 columns">
                 {% block content %}
                 {% endblock %}
             </div>
         </div>

         <footer>
             &copy; {% now "Y" %}
         </footer>

         <script type="text/javascript">
             $(document).foundation();
         </script>
     </body>
 </html> 
