{% load static %}
{% load pipeline %}
{% load menu %}

 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8">
         <title>{% block title %}My quotes{% endblock %}</title>
         {% stylesheet 'style' %}
         {% javascript 'script' %}
     </head>

     <body>
         {% menu %}

         <div class="row">
             <div class="large-3 columns">
             </div>

             <div class="large-9 columns">
                 {% block content %}
                 {% endblock %}
             </div>
         </div>

         <script type="text/javascript">
             $(document).foundation();
         </script>
     </body>
 </html> 
