{% extends 'quotes/quotes-base.html' %}

{% block title %}Books list{% endblock %}

{% block content %}
    <h1>Books</h1>

    {% if books %}
        <div class="grid-x grid-margin-x grid-margin-y">
            {% for book in books %}
                <div class="large-3 cell">
                    <div class="book">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=bookquote-21&marketplace=amazon&region=GB&placement={{ book.isbn }}&asins={{ book.isbn }}&linkId=&show_border=true&link_opens_in_new_window=true">
                        </iframe> 

                        <h2 class="title">
                            <a href="{% url 'quotes:quotes-list' book=book.slug %}">{{ book.title | truncatewords:10 }}</a>
                        </h2>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_paginated %}
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="{% url 'quotes:books-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="current">
                    <span class="page-current">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                </li>
                {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="{% url 'quotes:books-list' %}?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <p>No books.</p>
    {% endif %}
{% endblock %}
