{% extends 'quotes/base.html' %}

{% block title %}Categories list{% endblock %}

{% block content %}
    <h1>Categories</h1>

    {% if categories %}
        <div class="row large-up-4">
            {% for category in categories %}
                <div class="column column-block quote-item">
                    <h3>
                        <a href="{% url 'quotes:quotes-list' category=category.slug %}">{{ category.name }}</a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No categories.</p>
    {% endif %}
{% endblock %}
