{% extends 'quotes/base.html' %}

{% block title %}Categories list{% endblock %}

{% block content %}
    <h1>Categories</h1>

    {% if categories %}
        {% regroup categories by name|first|upper as categories_groups %}

        <ul>
            {% for categories_group in categories_groups %}
                <li>
                    <small>{{ categories_group.grouper }}</small>
                    <ul class="categories">
                        {% for category in categories_group.list %}
                            <li>
                                <h2 class="title">
                                    <a href="{% url 'quotes:quotes-list' category=category.slug %}">{{ category.name }}</a>
                                </h2>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories.</p>
    {% endif %}
{% endblock %}
