{% extends 'quotes/base.html' %}

{% block title %}Quotes detail{% endblock %}

{% block content %}
    <p class="quote-detail">{{ quote.text }}</p>

    {% if quote.book %}
        <h2>From book:</h2>
        <a href="{% url 'quotes:list' book=quote.book.slug %}">{{ quote.book.title }}</a>
    {% endif %}

    {% if quote.tags %}
        <h2>Tags:</h2>
        {% for tag in quote.tags.all %}
            <a href="{% url 'quotes:list' tag=tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
