{% extends 'base.html' %}

{% block title %}Book Quotes{% endblock %}

{% block content %}
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'quotes:quotes-list' category=category.slug %}">
                        <figure>
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" />
                            <figcaption>{{ category.name }}</figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories.</p>
    {% endif %}
{% endblock %}
