{% extends 'base.html' %}

{% block title %}Book Quotes{% endblock %}

{% block content %}
    {% if categories %}
        <div class="grid-x grid-margin-y">
            {% for category in categories %}
                <div class="large-6 cell">
                    <a href="{% url 'quotes:quotes-list' category=category.slug %}">
                        <figure>
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" />
                            <figcaption>{{ category.name }}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No categories.</p>
    {% endif %}
{% endblock %}
