{% extends 'quotes/base.html' %}

{% block title %}Quotes list{% endblock %}

{% block content %}
    {% if quotes %}
        <div class="row large-up-4">
            {% for quote in quotes %}
                <div class="column column-block">
                    <a href="{% url 'quotes:detail' pk=quote.id slug=quote.slug %}">{{ quote.text }} from {{ quote.book.title }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No quotes.</p>
    {% endif %}
{% endblock %}
