<div class="top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Book Quotes</li>

            <li {% if path == '/' %} class="active" {% endif %}>
                <a href="{% url 'quotes:quotes-list' %}">Quotes</a>
            </li>

            <li {% if 'category' in path or 'categories' in path %} class="active" {% endif %}>
                <a href="{% url 'quotes:categories-list' %}">Categories</a>
                <ul class="menu vertical">
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'quotes:quotes-list' category=category.slug %}">{{ category.name }} ({{ category.num_quotes }})</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'quotes:categories-list' %}">...</a>
                    </li>
                </ul>
            </li>

            <li {% if 'book' in path or 'books' in path %} class="active" {% endif %}>
                <a href="{% url 'quotes:books-list' %}">Books</a>
                <ul class="menu vertical">
                    {% for book in books %}
                        <li>
                            <a href="{% url 'quotes:quotes-list' book=book.slug %}">{{ book.title }} ({{ book.num_quotes }})</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'quotes:books-list' %}">...</a>
                    </li>
                </ul>
            </li>

            <li {% if 'author' in path or 'authors' in path %} class="active" {% endif %}>
                <a href="{% url 'quotes:authors-list' %}">Authors</a>
                <ul class="menu vertical">
                    {% for author in authors %}
                        <li>
                            <a href="{% url 'quotes:quotes-list' author=author.slug %}">{{ author.name }} ({{ author.num_quotes }})</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'quotes:authors-list' %}">...</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <form action="/" method="GET">
            <ul class="menu">
                <li><input type="text" name="search" value="{{ search.strip }}" placeholder="Search"/></li>
                <li><input type="submit" value="Search" class="button"/></li>
            </ul>
        </form>
    </div>
</div>
