<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Book Quotes</li>
            <li><a href="{% url 'quotes:list' %}">Quotes</a></li>
            <li>
                <a href="#">Categories</a>
                <ul class="menu vertical">
                    {% for category in categories %}
                        <li><a href="{% url 'quotes:list' category=category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#">Books</a>
                <ul class="menu vertical">
                    {% for book in books %}
                        <li><a href="{% url 'quotes:list' book=book.slug %}">{{ book.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <form>
            <ul class="menu">
                <li><input type="text" name="search" value="{{ request.GET.search }}" placeholder="Search"/></li>
                <li><input type="submit" value="Search" class="button"/></li>
            </ul>
        </form>
    </div>
</div>
