{% extends 'quotes/base.html' %}

{% block title %}Quotes list{% endblock %}

{% block content %}
    {% if category %}
        <h1>Quotes in category <strong>"{{ category }}"</strong></h1>
    {% elif book %}
        <h1>Quotes in <strong>"{{ book }}"</strong></h1>
    {% elif author %}
        <h1>Quotes by <strong>"{{ author }}"</strong></h1>
    {% elif tag %}
        <h1>Quotes with tag <strong>"#{{ tag }}"</strong></h1>
    {% else %}
        <h1>Quotes</h1>
    {% endif %} 

    {% if quotes %}
        <div class="row large-up-4">
            {% for quote in quotes %}
                <div class="column column-block">
                    <div class="quote">
                        <blockquote>
                            <a href="{% url 'quotes:quote-detail' pk=quote.id slug=quote.slug %}">{{ quote.text | truncatewords:10 }}</a>
                        </blockquote>
                    
                        {% if quote.author %}
                            <cite>
                                <a href="{% url 'quotes:quotes-list' author=quote.author.slug %}">{{ quote.author.name }}</a>
                            </cite>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No quotes.</p>
    {% endif %}
{% endblock %}
