{% extends 'quotes/base.html' %}
{% load breadcrumb %}
{% load similar_quotes %}

{% block title %}Quotes detail{% endblock %}

{% block content %}
    {% breadcrumb %}

    <div class="quote">
        <blockquote>{{ quote.text }}</blockquote>
        {% if quote.author %}
            <cite>
                <a href="{% url 'quotes:quotes-list' author=quote.author.slug %}">{{ quote.author.name }}</a>
            </cite>
        {% endif %}
    </div>

    <div class="sharethis-inline-share-buttons"></div>

    <div class="quote-footer row">
        <div class="large-3 medium-6 small-6 columns">
            {% if quote.book %}
                <h2 class="title">From</h2>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=bookquote-21&marketplace=amazon&region=GB&placement={{ quote.book.isbn }}&asins={{ quote.book.isbn }}&linkId=&show_border=true&link_opens_in_new_window=true">
                </iframe> 
            {% endif %}
        </div>

        <div class="large-3 medium-6 small-6 columns">
            {% if quote.tags.count %}
                <div class="tags">
                    <h2 class="title">Tags</h2>
                    {% for tag in quote.tags.all %}
                        <a href="{% url 'quotes:quotes-list' tag=tag.slug %}">#{{ tag.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="large-6 medium-12 small-12 columns">
            <h2 class="title">Similar quotes</h2>
            {% similar_quotes %}
        </div>
    </div>
{% endblock %}
