{% load static %}
{% load pipeline %}
{% load menu %}
{% load slider %}
{% load footer %}
{% load filters %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GIS Tutorials{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% stylesheet 'style' %}
        {% javascript 'script' %}

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <header>
            {% menu %}
            {% slider %}
        </header>

        <div class="grid-x grid-padding-x">
            <nav class="large-3 cell" data-sticky-container>
                {% filters %}
            </nav>

            <main class="large-9 cell">
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <footer>
            {% footer %}
        </footer>

        <script type="text/javascript">
            $(document).foundation();
        </script>
    </body>
</html> 
