<div class="grid-x">
    <div class="large-offset-3 large-4 cell">
        <ul>
            <li>
                By 
                <a href="https://twitter.com/h4k1m0u" target="_blank">
                    @h4k1m0u
                </a>
            </li>
            <li>
                <a href="https://twitter.com/BookQuotes_me?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">
                    Follow @BookQuotes_me
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </ul>
    </div>

    <div class="large-4 cell">
        <ul class="menu vertical">
            <li>
                <a href="{% url 'quotes:quotes-list' %}">All quotes</a>
            </li>
            <li>
                <a href="{% url 'quotes:categories-list' %}">Quotes by category</a>
            </li>
            <li>
                <a href="{% url 'quotes:books-list' %}">Quotes by book</a>
            </li>
            <li>
                <a href="{% url 'quotes:authors-list' %}">Quotes by author</a>
            </li>
        </ul>
    </div>
</div>
