<div class="top-bar" id="main-menu">
    <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <strong>
            <a href="{% url 'home-page' %}">Book Quotes</a>
        </strong>
    </div>

    <div id="responsive-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li {% if app_name == 'quotes' %} class="active" {% endif %}>
                    <a href="{% url 'quotes:quotes-list' %}">Quotes</a>
                    <ul class="menu vertical">
                        <li>
                            <a href="{% url 'quotes:categories-list' %}">By category</a>
                        </li>
                        <li>
                            <a href="{% url 'quotes:books-list' %}">By book</a>
                        </li>
                        <li>
                            <a href="{% url 'quotes:authors-list' %}">By author</a>
                        </li>
                    </ul>
                </li>

                <li {% if app_name == 'articles' %} class="active" {% endif %}>
                    <a href="{% url 'articles:articles-list' %}">Articles</a>
                </li>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <form action="/" method="GET" class="clearfix">
                        <input type="text" name="search" value="{{ search.strip }}" placeholder="Search" class="float-left" />
                        <input type="submit" value="Search" class="button" />
                    </form>
                </li>

                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'members:auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'members:registration_register' %}">Register</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'members:auth_logout' %}">Logout <b>({{user.username}})</b></a>
                    </li>
                    <li>
                        <a href="{% url 'quotes:quotes-list' member=user.member.slug %}">My quotes</a>
                    </li>
                    <li>
                        <a href="{% url 'quotes:quote-submit' %}">Submit quote</a>
                    </li>
                {% endif %}

                <li>
                    <a href="/expenses/">Expenses (new)</a>
                </li>

                <li>
                    <a href="/bookquotes/">Quotes (new)</a>
                </li>
            </ul>
        </div>
    </div>
</div>
